.content-wrapper {
    /* max-width: 65%; */
    min-height: 550px;
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    background: #d2d2d2;
    border-radius: 25px;;
    box-shadow: 4px 3px 8px 1px #969696;
}


.history {
    display: block;
}

.add {
    width: 500px;
}

.card-header, .card-body {
    text-align: center;
}

.income {
    border: 2px solid green;
}
.income-title {
    background: lightgreen;
}

.expense {
    border: 2px solid red;
}

.expense-title {
    background: lightcoral;
}

.form-container {
    border: 2px solid darkgrey;
    border-radius: 5px;
}